<p>This is the partial for prodcut powered by
     {{name}}.</p>
<h1> durations</h1>

<ul> 
     <li> 
         {{prod.data.duree }} 
          <!-- // durations -->
     </li> 
  </ul> 
  <button ng-click="prod.search()">seach</button>
<table>
     <thead>
          <th>model number</th>
          <th>model name</th>
          <th>price</th>
          <th> description</th>
          <th> options</th>
     </thead>
     <tbody>
          <tr ng-repeat="product in prod.products">
               <td> {{product.modelNumber}}</td>
               <td> {{product.modelName | uppercase}}</td>
               <td> {{product.unitCost}}</td>
               <td> {{product.description}}</td> 
               <td><a ui-sref = "produt_detail({id:product.productId})">detail </a> </td> 
               <td><a ui-sref = "produt_detail.summary({id:product.productId})">demo </a> </td> 
               <td><a ui-sref =  "v.mv({id:product.productId})">views </a> </td> 
          
          </tr>
     </tbody>
   

    